.bg1{
    background: linear-gradient(180deg, rgba(0,0,0,0.5971814751291141) 0%, rgba(17,53,75,1) 100%);
}
.bg3 {
    background: linear-gradient(0deg, rgba(15,69,101,0.86) 0%, rgba(17,53,75,1) 100%);
}
.bg4 {
    background: linear-gradient(0deg, rgba(5,135,207,0.5) 0%, rgba(9,108,163,0.58) 40%, rgba(15,69,101,0.86) 100%);
}

.bg5 {
    background: linear-gradient(0deg, rgba(34,101,138,1) 0%, rgba(130,195,231,1) 100%);
}

.bg6 {
    background: linear-gradient(0deg, rgba(17,53,75,1) 40%, rgba(34,101,138,1) 100%);
}
.image-j {
    background-image: url(Group\ 98.png);
    background-size: 100% 100%;
}

.color-blue-button {
    background: #82C3E7;
}

.hover-underline-animation {
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }